form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(15rem / 16) calc(20rem / 16);;
    background-color: #303030;
    border-radius: calc(10rem / 16);
}
input{
    width: 95%;
    background: none;
    border: none;
    font-size: 15px;
    color: var(--branco);
}
input::placeholder{
    color: var(--branco);
}