@import url(./config-css/reset.css);  
@import url(./config-css/variables.css); 
@import url(./config-css/animation.css);
html{
    background-color: var(--primary-color);
    font-family: 'VT323', monospace;
}
main{
    max-width: calc(600rem / 16);
    margin: 0 auto;
    box-sizing: border-box;
}